.icon-cate:before {
    content: "\e603";
}
.icon-tag:before {
    content: "\e600";
}
.icon-comments:before {
    content: "\e601";
}
.icon-date:before {
    content: "\e605";
}
.icon-views:before {
    content: "\e606";
}
.icon-heart:before {
    content: "\e604";
}
